$base-font-size: 16;

//colors
$white: #fff;
$black: #000;
$purple: #584f9e;

$primary-text-color: #cbc9cb;
$inactive-text-color: #6f737d;
$toolbar-bg-color: #212226;
$button-bg-active-color: #18181c;
$button-active-color: $purple;
