$color1: rgb(24,24,28);
$color2: rgb(203,201,203);
$color3: rgb(88,79,158);
$color4: rgb(111,115,125);
$color5: rgb(33,34,38);

$base-font-size: 16;


$nav-selected-bg: $color1;
$nav-selected-highlight: $color2;
$nav-selected: $color3;

$nav-view-font-size:20;
$nav-view-text: $color4;

$sidebar-width: 6%;