.console-container {
  position: absolute;
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap
  // align-items: stretch;
}

.view-options{
  // flex-grow: 1;
  background-color: $toolbar-bg-color;
  align-self: stretch;
  width: 5%;
  position:relative;
  height: 100%;
  color: $primary-text-color;
  font-size: $base-font-size;
}

.view-container{
  background-color: $white;
  color: $primary-text-color;
  font-size: $base-font-size;
  overflow-y: scroll;
}

.view-console {
  width: 100%;
  background-color: $white;
  text-color: $primary-text-color;
}

.view-info {
  width: 100%;
  text-color: $primary-text-color;
}

.view-option-button{
    height: 100%;
    background-image: url("../assets/imgs/play.png");
    background-size: 60px 60px;
    background-repeat: no-repeat;
}

.view-option-button-text{
  color: $inactive-text-color;
  transform: rotate(270deg);
  text-align: center;
  font-size: 2.9em;
  font-size: $base-font-size;
}

.view-option-button-text:hover {
  color: $primary-text-color;
}

.view-option-button-active {
  color: $primary-text-color;
  border-color: $primary-text-color;
  border-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
}

.packets-table {
  flex: 1 0 0%;
  margin: #{10 / $base-font-size}rem;
  width: 98%;
}

.packets-table__header > tr > th {
  color: $inactive-text-color;
  background-color: $white;
  font-weight: 600;
}

.packets-table__row {
  height: #{25 / $base-font-size}rem;
}

// tr:nth-child(odd) {
//   color: $inactive-text-color;
//   // background-color:$primary-text-color;
// }

// tr:nth-child(even) {
//   color: $inactive-text-color;
//   background-color:$white;
// }

