.nav-container {
  top: 0;
  left:0;
  width: 20%;
  min-height: 250px;
  width: $sidebar-width;
  min-height: 525px;
  background-color: rgba(33,34,38,1.0);
}

.nav {
  // position: fixed;
  float: left;
  padding:0px;
  width: $sidebar-width;
  bottom: 90%;
  background-color: rgba(33,34,38,1.0);
}

.nav-tools{
  margin: 0px auto;
  list-style: none;
  padding: 0px;
  height: 60%;
}

.nav-tool{
  color: rgb(203,201,203);
  padding: 10px 0px;
  padding-left: 8px;
}

.nav-tool-active {
  background-color: $nav-selected-bg;
  border-left-color: $nav-selected;
  border-left-width: 1px;
  border-left-style: solid;
}

.nav-tool:hover{
  background-color: $nav-selected-bg;
  border-left-color: $nav-selected-highlight;
  border-left-width: 1px;
  border-left-style: solid;
}
