.nav-container {
  position: fixed;
  z-index: 1000;
  padding:0px;
  width: 10%;
  top: 0;
  bottom: 0;
  background-color: rgba(33,34,38,1.0);
}

.nav-tools{
  margin: 0px auto;
  list-style: none;
  padding: 0px;
  height: 60%;
}

.nav-tool{
  color: rgb(203,201,203);
  padding: 10px 0px;
  padding-left: 8px;
}

.nav-tool-active {
  background-color: $nav-selected-bg;
  border-left-color: $nav-selected;
  border-left-width: 1px;
  border-left-style: solid;
}

.nav-tool:hover{
  background-color: $nav-selected-bg;
  border-left-color: $nav-selected-highlight;
  border-left-width: 1px;
  border-left-style: solid;
}

.nav-views{
  padding: 0px;
  height: 40%;
  color: $nav-view-text;
  font-size: #{$nav-view-font-size}px;
}

.nav-view{
  height: 50%;
  color: $nav-view-text;
  font-size: #{$nav-view-font-size}px;
}

.nav-view-active {
  color: $nav-selected-highlight;
  border-color: $nav-selected-highlight;
  border-width: 1px;
  border-style: solid;
}

