.nav-container {
  top: 0;
  left:0;
  width: 20%;
  min-height: 250px;
  width: 5%;
  min-height: 525px;
  background-color: $toolbar-bg-color;
}

.nav {
  // position: fixed;
  float: left;
  padding:0px;
  width: 6%;
  bottom: 90%;
  background-color: $toolbar-bg-color;
}

.nav-tools{
  margin: 0px auto;
  list-style: none;
  padding: 0px;
  height: 60%;
}

.nav-tool{
  color: $primary-text-color;
  padding: 10px 0px;
  padding-left: 8px;
}

.nav-tool-active {
  background-color: $button-bg-active-color;
  border-left-color: $purple;
  border-left-width: $base-font-size;
  border-left-style: solid;
}

.nav-tool:hover{
  background-color: $button-bg-active-color;
  border-left-color: $primary-text-color;
  border-left-width: $base-font-size;
  border-left-style: solid;
}
